

#mynav{
	margin-bottom: 0px;
}

#mynav1{
	background-color: #ffffff;
}

#redfont{
	color: #cc2900 ;
}


#logo{
	margin-top: -13px;
	margin-bottom: 5px;
	height: 45px;
	
}

#part1{
margin: 0px;
background-image: url('../images/index.jpg');
background-size: cover;
height: 720px;
padding: 100px;
}

#content{
	background-color: #ffffff;
	opacity: 0.5;
	padding: 30px;
}

#part2{
	padding: 20px;
	height: 300px;
	margin-left: 30px;  
	margin-bottom: 30px;
}

#ordering{
	background-color: #FCFCFC;
	padding: 5px;
	margin: 10px;	
	height: 300px;
	width: 31%;
	float: left;
}


#packaging{
	background-color: #FCFCFC;
	padding: 5px;
	margin: 10px;
	height: 300px;	
	width: 31%;
	float: left;
}


#delivery{
	background-color: #FCFCFC;
	padding: 5px;
	margin: 10px;
	height: 300px;
	float: left;
	width: 31%;	
}

#contact{
	background-color: #cc2900;
	height: 300px;
	margin-top: 60px;
	padding: 30px;
	font-size: 30px;
}

#rahul{
	padding: 70px;
	border-right: 3px solid #ffffff; 
}

#kailash{
	padding: 70px;
	border-right: 3px solid #ffffff;
}

#anurag{
	padding: 70px;
}

