body{
	overflow-x: hidden;
}

#head{
	font-size: 30px;
}

li{
	list-style-type: none;

}

#items{
	margin-top: 0px;	
}

.item1{
	width: 30.5%;	
	height: 300px;
	margin-right: 25px; 
	margin-top: 25px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item2{
	width: 30.5%;	
	height: 300px;
	margin-right: 25px; 
	margin-top: 25px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item3{
	width: 30.5%;	
	height: 300px;
	margin-right: 25px; 
	margin-top: 25px;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dishimg{
	height: 80%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}


#cartbar{
	border-radius: 0px;
}


.order{
	margin-right: 10px;
}

.cart{
	float: right;
	margin-left: 10px;
	background-color: #cc2900 ;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	font-weight: bold;
	padding: 4px; 
}
